name: Integration Tests
run-name: Pull request for ${{ github.ref }} triggered integration tests.
on: pull_request

jobs:
  run-tests:
    runs-on: windows-latest
    steps:
      - name: Check out repository code
        id: checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065
        with:
          python-version: '3.12'
      - name: Install package
        id: installation
        run: |
          pip install -U pip
          pip install .
      - name: Run tests
        id: tests
        run: python3 -m pytest tests/integration