name: Test Suite
run-name: Pull request for ${{ github.ref }} triggered tests.
on: pull_request

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        id: checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - name: Run tests
        id: tests
        run: bash code/run_tests.sh